.header-wrap {
    width: 100%;
    /* height: 100%; */
    position: relative;
    margin-bottom: 20rem;
}

/* @media (max-width: 1279px){
    .header-wrap {
        margin-bottom: 0rem;
}} */

@media screen and (max-width: 640px) {
    .header-wrap {
        height: 200px;
        margin-bottom: 0rem;
    }
  }

@media screen and (min-width: 641px) and (max-width: 1007px) {
    .header-wrap {
        height: 450px;
        margin-bottom: 0rem;
    }
}



@media screen and (min-width: 1008px){
    .header-wrap {
        height: 595px;
        margin-bottom: 0rem;
    }
  }


.header_inner {
    height: 100%;
    position: relative;
}

.header_content.container {
    width: 100%;
    position: relative;
    text-align: center;
    z-index: 10;
    padding-top: 7.55rem;
}


@media (max-width: 1279px){
.container, .container_sm {
    width: 100%;
    padding: 0 30px;
}}

.header_bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: #ffffff;
    overflow: hidden;
}

.header_bg-one {
    width: 50%;
}

.header_bg-one, .header_bg-two {
    position: absolute;
    top: 49%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.header_bg-one .img-header {
    animation: rotation 30s infinite linear;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards;
}

.header_bg-two .img-header {
    animation: rotation 20s infinite linear;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards;
}


@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  
.img-header {
    width: 100%;
    display: block;
}

.header_bg-two {
    width: 29%;
}